<html>
    <head>
        <title>Linnunrdan Tila</title>
    </head>
    <body>

    <h1>Linnunradan Tila</h1>
    <p>Viljelemme öljyhamppua Tyrnävällä ja valikoimassamme on seuraavat tuotteet:
       Hampunsiemenet, hamppurouhe ja kylmäpuristettu hampunsiemenöljy ruuanlaittoon ja leivontaan. Lisäksi löytyy hamppurouhetta eläimille (hevoset, koirat, kanit, vuohet ja alpakat). Teemme öljyhampusta myös luonnonkosmetiikkaa, kuten hamppuöljyvoidetta ja hamppusaippuaa. <br/>

Tilallamme on myös alpakoita ja myymme alpakanvillaisia tuotteita. Teemme tilauksesta alpakkavierailuja erilaisiin tapahtumiin ja palvelukeskuksiin. </p>
<h3>Kylmäpuristettu hampunsiemenöljy</h3>
<p> Hamppuöljy sisältää 75 % ihmiselle välttämättömiä rasvahappoja sekä biologisesti arvokkaita gammalinoleenihappoa (GLA) ja stearidonihappoa (SDA). Gammalinoleenihappo saattaa auttaa tulehduksissa ja ihosairauksissa ja stearidonihappo on elimistölle helppokäyttöistä omega3:a. </p>
<p>Yhdessä nämä rasvahapot auttavat pitämään veren kolesteroliarvot matalampina ja ylläpitävät hyvää terveyttä. Rasvahapot ovat optimaalisessa suhteessa omega3 : omega6 on noin 1:2-1:3. Hamppuöljyssä on myös korkea e-vitamiinipitoisuus (tärkeä antioksidantti). </p>

<p> Öljyn tumma väri tulee sen sisältämästä lehtivihreästä. Käyttö: 1-4 ruokalusikallista öljyä päivässä lisättynä salaatteihin, höyrystettyihin tai raakoihin vihanneksiin, perunoille, pastaan, riisiin tai keittoihin.
Sopii valkosipulin kanssa leivälle levitteeksi tai dippikastikkeeksi. Erinomainen lisä marinaadiin, salaattikastikkeisiin, kylmiin tai lämpimiin kastikkeisiin, pateeseen, guacamoleen, hummukseen sekä smoothieen.
Sopii käytettäväksi myös ulkoisesti, ihoöljynä tai ikenille suussa purskutteluun. </p>
<p> Ei suositella käytettäväksi paistamiseen, sillä monityydyttymättömien öljyjen kuumentaminen yli 150 asteessa voi muuttaa niiden molekyylisen rakenteen terveellisistä cis-muodoista epäterveellisiin trans-muotoihin ja peroksideiksi.
Säilyy tuoreena n. 6 kuukautta avaamisen jälkeen, jos pullo säilytetään suljettuna viileässä ja valolta suojattuna. (Lähde: Finola ky).</p>
      <h3>Hampunsiemenet</h3>
      <p>Ovat erinomaista ravintoa sellaisenaan syötäväksi, jolloin saat kaikki hampun erinomaiset ravintoaineet kerralla ja hyvälaatuisena. Hampunsiementen proteiini sisältää kaikkia ihmiselle välttämättömiä aminohappoja. Proteiini koostuu 65 prosentista edestiiniä ja 35 prosentista albumiinia, jotka molemmat ovat korkealaatuisia ja hyvin imeytyviä. Siemeniä voi myös liottaa ja idättää, jolloin ravintoarvot nousevat entisestään. Siemenet ovat hyviä käyttää ruoanlaitossa ja leivonnassa. Hampunsiemenistä aiheutuvia allergioita ei ole raportoitu.</p>

<p>Säilytys kuivassa, auringolta suojattuna ja mieluiten viileässä.</p>
<h3>Hamppurouhe</h3>
<p>Hamppurouhe sisältää runsaasti hyvälaatuista proteiinia, kuitua, vitamiineja, mineraaleja ja fytosteroleita. Hamppurouhe syntyy kylmäpuristusmenetelmän sivutuotteena, kun öljy irroitetaan hampun siemenistä mekaanisesti puristamalla. Kylmäpuristus on hellävarainen ja luonnollinen menetelmä jossa siemeniä ei kuumenneta eikä käsitellä kemiallisesti. Hamppurouhe sopii hyvin leivontaan, ruoanlaittoon ja esim. puuroon, viiliin tai jugurttiin lisättäväksi. Säilytys kuivassa ja viileässä. </p>

<h4>Hampunsiemenöljyn joitain tutkittuja terveys- vaikutuksia</h4>
  <p>Lääketieteelliset tutkimukset ovat osoittaneet, että näi-
den monityydyttämättömien rasvahappojen nauttiminen
voi auttaa monissa kroonisissa ja rappeuttavissa saira-
ustiloissa. Hampunsiemenöljy sisältää myös harvinaista
ja biokemiallisesti arvokasta GLA:ta (n. 4%) ja SDA:ta
(n. 2%). (Lähde: Finola ky)

Kuopion yliopistossa tehdyt kliiniset tutkimukset** ovat
osoittaneet terveellisten rasvahappojen määrän nous-
seen merkittävästi terveiden aikuisten veressä, kun he
olivat nauttineet päivittäin 2 ruokalusikallista Finola-öljyä
neljän viikon ajan. Tämä löydös saattaa olla syy siihen,
miksi niin monet ihmiset ovat kertoneet ihon kunnon
paranemisesta Finola-öljyn käytön aloittamisen jälkeen.</p>
<div>
           <h1><a href="/">Linnunradan tilan blogi</a></h1>
       </div>

       <div>
           <p>published: 4.11.2017</p>
           <h2><a href="">Ensimmäinen blogikirjoitukseni</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">Toinen blogikirjoitukseni</a></h2>
           <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
       </div>
    </body>
</html>
